body {
  background-color: #e0e0e0;
}

body #divisao_maxima #divisao_top #divisao_maxima-header {
  border-bottom: 3px solid #868686;
  background-color: #c7c6c6;
  padding: 20px;
  margin: 0px;
  text-align: center;
  font-size: 60px;
  color: #01464e;
  text-shadow: 1.4px 1.1px #00002f;
  font-weight: bold;
  text-transform: uppercase;
}

body #divisao_maxima #divisao_maxima-conteudo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #divisao_maxima #divisao_maxima-conteudo #subdivisa_maxima-conteudo {
  width: 1300px;
  height: 1000px;
  border: 1px solid black;
}

body #divisao_maxima #divisao_maxima-conteudo #subdivisa_maxima-conteudo #divisao_conteudo #divisao_maxima-perfillateral {
  width: 20rem;
  height: 15rem;
  border: 0.1rem solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1rem;
  margin-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #divisao_maxima #divisao_maxima-conteudo #subdivisa_maxima-conteudo #divisao_conteudo #divisao_maxima-perfillateral #divisao_perfil-lateral {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

body #divisao_maxima #divisao_maxima-conteudo #subdivisa_maxima-conteudo #divisao_conteudo #divisao_maxima-perfillateral #divisao_perfil-lateral #perfil_lateral {
  width: 10rem;
  height: 10rem;
  border: 0.1rem solid black;
}

body #divisao_maxima #divisao_maxima-conteudo #subdivisa_maxima-conteudo #divisao_conteudo #divisao_maxima-perfillateral #divisao_perfil-lateral #perfil_lateral #foto_perfil {
  width: 100%;
  height: 100%;
  border: 0.1em solid black;
  border-radius: 100%;
  background-color: black;
  background-image: url(https://st2.depositphotos.com/1009587/7772/i/950/depositphotos_77726582-stock-photo-head-of-killer-whale.jpg);
  background-size: 130%;
}

body #divisao_maxima #divisao_maxima-conteudo #subdivisa_maxima-conteudo #divisao_conteudo #divisao_maxima-perfillateral #divisao_perfil-lateral #divisao_login-out {
  width: 15rem;
  height: 4rem;
  border: 0.1rem solid black;
  margin-top: 0.2rem;
}

body #divisao_maxima #divisao_maxima-conteudo #subdivisa_maxima-conteudo #divisao_conteudo #divisao_maxima-storys {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 20rem;
  height: 10rem;
  border: 0.1rem solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #divisao_maxima #divisao_maxima-conteudo #subdivisa_maxima-conteudo #divisao_conteudo #divisao_maxima-storys #subdivisao_maxima-storys {
  width: 19rem;
  height: 9rem;
  border: 0.1rem solid;
}

body #divisao_maxima #divisao_maxima-conteudo #subdivisa_maxima-conteudo #divisao_conteudo #divisao_maxima-storys #subdivisao_maxima-storys #divisao_storys {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #divisao_maxima #divisao_maxima-conteudo #subdivisa_maxima-conteudo #divisao_conteudo #divisao_maxima-storys #subdivisao_maxima-storys #divisao_storys .storys_bloco {
  width: 5rem;
  height: 10rem;
  border: 0.1rem solid black;
}

body #divisao_maxima #divisao_maxima-conteudo #divisao_maxima-direita {
  float: right;
  position: relative;
  top: -23rem;
  margin-right: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #divisao_maxima #divisao_maxima-conteudo #divisao_maxima-direita #divisaofixa_barra-depesquisa #divisao_maxima-barradepesquisa #divisao_barra-depesquisa #input_barra-pesquisa {
  width: 20em;
  height: 2.5em;
  font-size: 1em;
  border: 0.2em solid #c2c2c2;
  border-radius: 20%;
  outline: none;
  margin-bottom: 2.5rem;
}

body #divisao_maxima #divisao_maxima-conteudo #divisao_maxima-direita #divisaofixa_pagina-rolamento #divisao_maxima-paginarolamento #divisao_pagina-rolamento {
  width: 50rem;
  height: 200rem;
  border: 0.3rem solid black;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=index.css.map */